.product-card-item{
    width:43%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    margin-bottom: 12px;
}
.product-image{
    width:100%;
    height: 150px;
    object-fit: cover;
}
.product-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-title{
    width:70%;
    font-size:14px;
    font-weight:500;
    margin-bottom: 2px;
    margin-top: 2px;
}
.product-desc{
    font-size:12px;
    color:#888792;
}
.product-read-more{
    outline: none;
    border: none;
    background-color: transparent;
    color:#888792;
}




@media screen and (min-width:768px){
    .product-card-item{
        display: flex;
        flex-direction: column;
        width:320px;
        margin-left:20px;
    }

    .product-image{
    align-self: center;
    width:50%;
    height: 250px;
    object-fit: cover;
}

.product-title{
    width:70%;
    font-size:20px;
    font-weight:600;
    margin-bottom: 2px;
    margin-top: 2px;
}

.product-desc{
    font-size: 16px;
}

}
