hr {
  width: 100%;
  height: 1.2px;
  border: none;
  background: #E5E5E5;
  margin: 10px auto;
}
ul {
  list-style-type: none; 
  margin: 0;             
  padding: 0;            
}
.App {
  color:black;
  min-height: 100vh;
}
.home-text-ele{
  font-size: 16px;
  color: #BFC8CD;
  margin-left: 10px;
}
.shop-ele{
  color: black;
}
.main-content-container{
  display: flex;
  flex-direction: column;
}

.text-content-container{
  text-align: center;
  margin-left:5px;
  margin-right: 5px;
}
.heading-text{
  font-size: 22px;
  font-weight: 600;
}
.para-text{
  font-size:16px;
  color:#252020;
}
.filters-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
}
.pipe-text{
  color:#d7d4d4;
  height: 20px;
 
}
.select-container{
  border: none;
  outline: none;
  font-weight: 600;
}
.filters-sub-container{
display: none;
}
.products-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
.loader{
  text-align: center;
  margin-left: 200px;
}





@media screen and (min-width:768px){
  .home-text-ele{
    display: none;
  }
  .heading-text{
  font-size: 28px;
  font-weight: 600;
}
.para-text{
  font-size:19px;
  font-weight: 400;
}
  .content-container{
    display: flex;
    flex-direction: column;
    align-self: center;
    width:90%;
 }
 .text-content-container{
  width:40%;
  align-self: center;
}
.filter-text{
  display: none;
}
.pipe-text{
  display: none;
}
.filters-container{
  justify-content: space-between;
}
.filters-sub-container{  
  width:23%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.show-filters-button{
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #888792;
  font-weight: 500;
  font-size: 15px;
  text-decoration: underline;
  padding-top: 0px;
}
.products-filters-container{
  display: flex;
  flex-direction: row;
  
}
.products-container{
  justify-content: flex-start;
}
}
